<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="../controller/router.php?action=accueil&controlleur=utilisateur">Welcome to Travel Car</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Ma compte
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="drop1">

                <li><a href="../controller/router.php?action=modifierUtilisateur&controlleur=utilisateur">Modifier Informations Personnelles</a></li>
                   <li><a href="../controller/router.php?action=modifierPassword&controlleur=utilisateur">Modifier Password</a></li>
                <li><a href="../controller/router.php?action=histoireParking&controlleur=utilisateur">Histoire de Parking</a></li>
                <li><a href="../controller/router.php?action=histoireEmprunte&controlleur=utilisateur">Histoire d'emprunte</a></li>
                <li><a href="../controller/router.php?action=histoirePret&controlleur=utilisateur">Prêt de véhicule</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Reserver
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="drop2">
                <li><a href="../controller/router.php?action=reserverParking&controlleur=reservation">Reserver parking</a></li>

                <li> <a href="../controller/router.php?action=reserverVehicule&controlleur=reservation">Reserver véhicule</a></li>

                <li><a href="../controller/router.php?action=read&controlleur=reservation">Gestion de réservation</a></li>
            </ul>
        </li>
        <li><a href="../controller/router.php?action=signIn&controlleur=utilisateur">Sign In/Sign Out</a></li>
    </ul>
</nav>


