<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="../controller/router.php?action=accueilAdmin&controlleur=administrateur">Welcome to Travel Car</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="../controller/router.php?action=voirReservation&controlleur=administrateur">Voir reservations</a></li>
        <li class="nav-item"><a class="nav-link" href="../controller/router.php?action=infoUtilisateur&controlleur=administrateur">Info utilisateur</a></li>
        <li class="nav-item"><a class="nav-link" href="../controller/router.php?action=daliyCheck&controlleur=administrateur">Daliy check</a></li>
        <li id="ajouteParking" class="nav-item disabled"><a class="nav-link" href="../controller/router.php?action=ajouteParking&controlleur=administrateur">Ajoute parking</a></li>
    </ul>
</nav>


